{% extends 'store/layouts/main.html' %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Collections</h1>
            <hr>
            <div class="row">
            {% for item in category %}
                <div class="col-md-3">            
                    <div class="card">            
                        <div class="card-body">            
                            <div class="category-image">            
<img src= "{{item.image.url}}" alt="Category image" class="w-100"/>
                            </div>
                            <h4>{{item.name}}</h4>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

    
{% endblock content %}
